@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #121212;
  --foreground: #fafaf8;
  --lavender: #DFC5FE;
}

html {
  scroll-behavior: smooth;
  transition: background-color 700ms ease-in-out, color 700ms ease-in-out;
}

.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 30s ease-in-out infinite;
}

.dark .animated-gradient {
  background: linear-gradient(-45deg, #000000 0%, #202020 15%, #4b4b4b 30%, #6b6b6b 45%, #9c9c9c 60%, #c5c5c5 75%, #ffffff 100%);
  background-size: 400% 400%;
  animation: gradientBGDark 30s ease-in-out infinite;
}

.dot {
  animation: circleMovement 3s ease-in-out infinite;
}

.fancy-header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

.fancy-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: moveBg 120s ease-in-out infinite;
  background-size: 300% 300%;
  background-repeat: repeat;
  background-position: 0% 0%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-lavender: var(--lavender);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #fafaf8;
    --lavender: #DFC5FE;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientBGDark {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes circleMovement {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(var(--moveX), var(--moveY));
    /* Uses CSS variables for random movement */
  }

  100% {
    transform: translate(0, 0);
  }
}